a,
a:hover {
  text-decoration: none;
  color: #000;
}
.container-fluid {
  padding: 0px !important;
}
#main-area #header {
  text-align: right;
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  padding: 19px;
  color: #fff;
}
.main-area-content {
  padding: 20px;
  padding-left: 50px;
  background-color: #fff;
}
#home h4 {
  line-height: 2em;
}
#home img {
  width: 150px;
  height: 150px;
  margin: 10px;
}
#karmienie #karmienie-header {
  line-height: 2em;
  border-bottom: 1px solid #000;
}
#karmienie #animal-list {
  list-style-position: inside;
}
#karmienie #animal-list .animal-list-item {
  padding: 5px;
  font-size: 20px;
}
#sidebar {
  text-align: center;
  color: #fff;
  padding: 0px;
  box-shadow: 2px 0px 30px -10px #000;
  z-index: 1000;
}
@media screen and (min-width: 757px) {
  #sidebar {
    height: 100vh;
  }
}
#sidebar #logo {
  background: linear-gradient(to left, #e0eafc, #cfdef3);
  line-height: 100%;
}
#sidebar #logo h2 > a {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
#sidebar #menu-sidebar {
  background-color: #fff;
  padding: 0px;
}
#sidebar #menu-sidebar > ul {
  list-style-type: none;
  padding: 0px;
}
#sidebar #menu-sidebar > ul li {
  cursor: pointer;
}
#sidebar #menu-sidebar > ul li a {
  color: #89bdd3;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}
#sidebar #menu-sidebar > ul li a:hover {
  background-color: #9ad3de;
  color: #fff;
}
