body {
  background-color: #fff;
}
a,
a:hover {
  text-decoration: none;
  color: #343838;
}
.container-fluid {
  padding: 0px !important;
}
#main-area {
  position: absolute;
  top: 0px;
  right: 0px;
}
#main-area #header {
  text-align: right;
  background: #005f6b;
  padding: 19px;
  color: #fff;
}
.main-area-content {
  padding: 30px 30px 10px;
  background-color: #fff;
}
.main-area-content h1 {
  line-height: 2em;
  border-bottom: 1px solid #ecf0f1;
}
#home h4 {
  line-height: 2em;
}
#home img {
  width: 150px;
  height: 150px;
  margin: 10px;
}
.action-btn {
  font-size: 10px;
  line-height: 15px;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: 2px 2px 10px -4px #343838;
  padding: 5px;
  float: right;
}
.action-btn i {
  margin-left: 5px;
  line-height: 15px;
}
#karmienie #animal-list {
  list-style-position: inside;
}
#karmienie #animal-list .animal-list-item {
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}
#karmienie #animal-list .animal-list-item:nth-child(even) {
  border-top: 1px solid #ecf0f1;
  border-bottom: 1px solid #ecf0f1;
}
#karmienie-list {
  list-style-type: none;
  padding: 10px;
}
#karmienie-list li {
  font-size: 18px;
  letter-spacing: 1px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0px 3px 10px -5px #343838;
}
#karmienie-list li:nth-child(1) {
  opacity: 0.3;
  transition-duration: 0.3s;
}
#karmienie-list li:nth-child(1):nth-child(1):hover {
  opacity: 0.6;
}
#add-animal-box {
  padding: 20px;
}
#add-animal-box h1 {
  line-height: 2em;
  border-bottom: 1px solid #ecf0f1;
}
#add-animal-box div {
  padding: 10px;
  margin-top: 10px;
}
#add-animal-box div label {
  font-size: 17px;
  width: 150px;
}
#add-animal-box div input[type="text"] {
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px -7px #343838;
  font-size: 17px;
  padding: 5px;
  transition-duration: 0.3s;
}
#add-animal-box div input[type='submit'] {
  padding: 10px;
  box-shadow: 2px 2px 15px -8px #343838;
  font-size: 1.3em;
  background-color: #fff;
  border: none;
  letter-spacing: 3px;
}
#sidebar {
  text-align: center;
  color: #fff;
  padding: 0px;
  box-shadow: 2px 0px 30px -10px #343838;
  z-index: 1000;
}
@media screen and (min-width: 757px) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }
}
#sidebar #logo {
  background: #005f6b;
  line-height: 100%;
}
#sidebar #logo h2 > a {
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
#sidebar #menu-sidebar {
  background-color: #fff;
  padding: 0px;
}
#sidebar #menu-sidebar > ul {
  list-style-type: none;
  padding: 0px;
}
#sidebar #menu-sidebar > ul li {
  cursor: pointer;
}
#sidebar #menu-sidebar > ul li a {
  color: #008c9e;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}
#sidebar #menu-sidebar > ul li a:hover {
  background-color: #008c9e;
  color: #fff;
}
