.container-fluid {
  padding: 0px !important;
}
#main-area #header {
  text-align: right;
  background-color: #3b3a36;
  padding: 5px;
  color: #fff;
}
#sidebar {
  text-align: center;
  background-color: #3b3a36;
  color: #fff;
  padding: 0px;
}
#sidebar #logo {
  padding: 10px;
}
#sidebar #menu-sidebar {
  background-color: #e9ece5;
  padding: 0px;
}
#sidebar #menu-sidebar > ul {
  list-style-type: none;
  padding: 0px;
}
#sidebar #menu-sidebar > ul li {
  cursor: pointer;
}
#sidebar #menu-sidebar > ul li a {
  color: #3b3a36;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
}
#sidebar #menu-sidebar > ul li a:hover {
  background-color: #b3c2bf;
  color: #fff;
}
