.animate-show
	animation-name animate-show
	animation-duration .9s
	animation-timing-function easy-out
	

@keyframes animate-show {
	0% {
		transform translateX(-60%)
		opacity .1
	}
	
	60% {
		transform translateX(5%)
	}
	
	100% {

	}
}