// colors
dark = #89bdd3
light = #fff
blue = #9ad3de

.container-fluid
	padding 0px !important


#main-area
	#header
		text-align right
		background linear-gradient(to right, #E0EAFC , #CFDEF3)
		padding 5px
		color #fff
		

.main-area-content
	padding 20px
	padding-left 50px
	background-color light
	
#home
	h4
		line-height 2em
	img
		width 150px
		height 150px
		margin 10px

#sidebar
	text-align center
	background-color dark
	color #fff
	padding 0px
	#logo
		background linear-gradient(to left, #E0EAFC , #CFDEF3)
		padding 10px
		h2 > a 
			display block
			text-decoration none
			color #fff
			cursor pointer
	#menu-sidebar
		background-color light
		padding 0px
		> ul
			list-style-type none
			padding 0px
			li 
				cursor pointer
				a 
					color dark 
					text-decoration none
					display block
					width 100%
					padding 10px
					font-size 1.2em
					&:hover
						background-color blue
						color #fff