// colors
dark = #3b3a36
light = #e9ece5
blue = #b3c2bf

.container-fluid
	padding 0px !important

#sidebar
	text-align center
	background-color dark
	color #fff
	padding 0px
	#logo
		padding 10px
	#menu-sidebar
		color dark
		background-color light
		padding 0px
		> ul
			list-style-type none
			padding 0px
			li 
				cursor pointer
				padding 10px
				font-size 1.2em
				&:hover
					background-color blue
					color #fff