// colors
lighter-blue= #D8E6E7
light-blue = #008c9e
light = #ECF0F1

blue = #005f6b
black = #343838


box-shadow()
	box-shadow 2px 2px 10px -4px black


body
	background-color #fff


a, a:hover
	text-decoration none 
	color black
	

.container-fluid
	padding 0px !important






// main area
#main-area
	position absolute
	top 0px
	right 0px
	#header
		text-align right
		background blue
		padding 19px
		color #fff
		
.main-area-content
	padding 30px 30px 10px
	background-color #fff
	h1
		line-height 2em
		border-bottom 1px solid light


// home page 
#home
	h4
		line-height 2em
	img
		width 150px
		height 150px
		margin 10px

.action-btn
	font-size 10px 
	line-height 15px
	background-color #fff
	border none
	outline none
	box-shadow()
	padding 5px
	float right
	i 
		margin-left 5px
		line-height @line-height

		



// karmienie page
#karmienie
	#animal-list
		list-style-position inside
		.animal-list-item
			margin 5px
			padding 5px
			font-size 20px
			&:nth-child(even)
				border-top 1px solid light
				border-bottom 1px solid light
	
#karmienie-list
	list-style-type none
	padding 10px 
	li 			
		font-size 18px 
		letter-spacing 1px
		padding 10px
		margin 5px
		box-shadow 0px 3px 10px -5px black
		&:nth-child(1)
			opacity 0.3
			transition-duration .3s
			&:nth-child(1):hover
				opacity 0.6
// add animal
#add-animal-box
	padding 20px
	h1
		line-height 2em
		border-bottom 1px solid light 
	div
		padding 10px
		margin-top 10px
		label
			font-size 17px
			width 150px
		input[type="text"]
			outline none
			border none
			box-shadow()
			font-size 17px
			padding 5px
			transition-duration .3s
		input[type='submit']
			padding 10px
			font-size 1.3em
			background-color #fff
			box-shadow()
			border none
			letter-spacing 3px

// sidebar
#sidebar
	text-align center
	color #fff
	padding 0px
	box-shadow 2px 0px 30px -10px  black
	z-index 1000
	@media screen and (min-width: 757px)
		position fixed
		top 0 
		left 0
		height 100vh
	#logo
		background blue
		line-height 100%
		h2 > a 
			display block
			text-decoration none
			color #fff
			cursor pointer
	#menu-sidebar
		background-color #fff
		padding 0px
		> ul
			list-style-type none
			padding 0px
			li 
				cursor pointer
				a 
					color light-blue
					text-decoration none
					display block
					width 100%
					padding 10px
					font-size 1.2em
					&:hover
						background-color #008c9e
						color #fff